In [34]:
from pylab import plt, mpl
import pickle
import numpy as np
from random import gauss
import pandas as pd
import sqlite3 as sq3
import datetime as dt

In [2]:
a = [gauss(1.5, 2) for i in range(1000)]
print(a[:10])

[2.2689656285768356, 0.436302754230276, 1.4981416818840778, 0.12204829551174168, 4.152167449206562, 2.9292001031199835, -2.6186402475872805, 0.4132217226136763, 1.9999071641998514, -0.8638599617064098]

In [3]:
path = 'C:\\Users\\mar_c\\OneDrive\\Documentos\\LosProyectos\\Python_For_Finance\\datos\\'

In [4]:
# Un archivo pkl se usa para crear con wb en formato de bytes binario un array para ser enviado a la red de forma facil
pkl_file = open(path + 'data.pkl', 'wb')

In [5]:
%time pickle.dump(a, pkl_file)

CPU times: total: 0 ns
Wall time: 0 ns

In [6]:
pkl_file.close()

In [7]:
# Con este metodo lees el archivo pkl
pkl_file = open(path + 'data.pkl', 'rb')

In [8]:
a[:3]

[2.2689656285768356, 0.436302754230276, 1.4981416818840778]

In [10]:
pkl_file = open(path + 'data.pkl', 'wb')

In [11]:
%time pickle.dump(np.array(a), pkl_file)

CPU times: total: 0 ns
Wall time: 0 ns

In [12]:

%time pickle.dump(np.array(a)**2, pkl_file)

CPU times: total: 0 ns
Wall time: 386 Î¼s

In [13]:
pkl_file.close()

In [15]:
rows = 5000
a = np.random.standard_normal((rows, 5)).round(4)

In [16]:
a

array([[ 1.7264,  1.3809,  0.473 , -2.501 , -0.2117],
       [-0.1033, -1.2161,  0.3256,  0.3772,  0.9793],
       [ 0.0159,  0.3347, -1.5796, -0.0562, -0.3718],
       ...,
       [ 0.369 ,  0.8667,  0.9497,  1.0015, -1.5039],
       [ 0.9815,  0.3048, -1.919 ,  1.481 ,  1.4116],
       [ 0.0556,  0.4673,  2.3912, -0.2123,  0.9002]])

In [17]:
t = pd.date_range(start='2014/1/1', periods=rows, freq='H')
t

C:\Users\mar_c\AppData\Local\Temp\ipykernel_4452\930903651.py:1: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  t = pd.date_range(start='2014/1/1', periods=rows, freq='H')

DatetimeIndex(['2014-01-01 00:00:00', '2014-01-01 01:00:00',
               '2014-01-01 02:00:00', '2014-01-01 03:00:00',
               '2014-01-01 04:00:00', '2014-01-01 05:00:00',
               '2014-01-01 06:00:00', '2014-01-01 07:00:00',
               '2014-01-01 08:00:00', '2014-01-01 09:00:00',
               ...
               '2014-07-27 22:00:00', '2014-07-27 23:00:00',
               '2014-07-28 00:00:00', '2014-07-28 01:00:00',
               '2014-07-28 02:00:00', '2014-07-28 03:00:00',
               '2014-07-28 04:00:00', '2014-07-28 05:00:00',
               '2014-07-28 06:00:00', '2014-07-28 07:00:00'],
              dtype='datetime64[ns]', length=5000, freq='h')

In [19]:
csv_file = open(path + 'data.csv', 'w')
header = 'date,no1,no2,no3,no4,no5\n'

In [20]:
csv_file.write(header)

25

In [21]:
# Se escribe en el csv los datos agregando los header con la data
for t_, (no1, no2, no3, no4, no5) in zip(t, a):
    s = '%s,%f,%f,%f,%f,%f\n' % (t_, no1, no2, no3, no4, no5)
    csv_file.write(s)

In [22]:
csv_file.close()

In [24]:
csv_file = open(path + 'data.csv', 'r')
content = csv_file.readlines()
content[:5]

['date,no1,no2,no3,no4,no5\n',
 '2014-01-01 00:00:00,1.726400,1.380900,0.473000,-2.501000,-0.211700\n',
 '2014-01-01 01:00:00,-0.103300,-1.216100,0.325600,0.377200,0.979300\n',
 '2014-01-01 02:00:00,0.015900,0.334700,-1.579600,-0.056200,-0.371800\n',
 '2014-01-01 03:00:00,0.205600,-0.772100,-1.194900,-1.062600,-0.082500\n']

In [25]:
csv_file.close()

In [27]:

con = sq3.connect(path + 'numbs.db')

In [31]:
query = 'CREATE TABLE numbs (Date date, No1 real, No2 real)'

In [29]:
con.execute(query)

In [ ]:
# Los querys no se ven reflejados en la base de datos hasta que se hace commit
con.commit()

In [32]:
q = con.execute

In [33]:
q('SELECT * FROM sqlite_master').fetchall()

[('table',
  'numbs',
  'numbs',
  2,
  'CREATE TABLE numbs (Date date, No1 real, No2 real)')]

In [36]:
now = dt.datetime.now()
now

datetime.datetime(2024, 7, 10, 12, 54, 58, 888681)

In [37]:
np.random.seed(100)
data = np.random.standard_normal((10000, 2)).round(5)

In [38]:
%%time
for row in data:
    con.execute('INSERT INTO numbs VALUES(?, ?, ?)', (now, row[0], row[1]))
con.commit()

CPU times: total: 0 ns
Wall time: 27.7 ms

<timed exec>:2: DeprecationWarning: The default datetime adapter is deprecated as of Python 3.12; see the sqlite3 documentation for suggested replacement recipes

In [41]:
q('SELECT * FROM numbs').fetchmany(4)

[('2024-07-10 12:54:58.888681', -1.74977, 0.34268),
 ('2024-07-10 12:54:58.888681', 1.15304, -0.25244),
 ('2024-07-10 12:54:58.888681', 0.98132, 0.51422),
 ('2024-07-10 12:54:58.888681', 0.22118, -1.07004)]