# Kelly criterion
Utilizado para conocer que porcentaje del capital en cierto trade luego de predecir las posibilidades de exito y fracaso, para no apostar todo solo en una operaci√≥n sino unicamente lo optimo en terminos de ganancia/perdida

In [48]:
import math
import time
import numpy as np
import pandas as pd
import datetime as dt
import cufflinks as cf

In [49]:
raw = pd.read_csv('datos\\tr_eikon_eod_data.csv',
                  index_col=0, parse_dates=True)

In [50]:
symbol = '.SPX'

In [51]:
data = pd.DataFrame(raw[symbol])
data['returns'] = np.log(data / data.shift(1))
data.dropna(inplace=True)

In [52]:
data.head()

               .SPX   returns
Date
2010-01-05  1136.52  0.003111
2010-01-06  1137.14  0.000545
2010-01-07  1141.69  0.003993
2010-01-08  1144.98  0.002878
2010-01-11  1146.98  0.001745

In [53]:
# Calcula la media de los retornos anualizada
mu = data.returns.mean() * 252
mu

np.float64(0.10497958736209669)

In [59]:
# Calcula la volatilidad anualizada
sigma = data.returns.std() * np.sqrt(252)
sigma

np.float64(0.14873313291524645)

In [55]:
# Establece el risk free rate
r = 0.025

In [58]:
f = (mu - r) / sigma ** 2
f

np.float64(3.6154612161289403)